$white: #DBE4EE;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: $white;
    background-position: center;
    background-size: cover;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

    #time {
        font-size: 8rem;
    }

    h1 {
        margin-bottom: 3rem;
    }

    h2{
        margin-bottom: 0.5rem;
        // opacity: .6;
    }
    
    .weather-app-container{
        display: block;
        position: absolute;
        top: 2%;
        right: 2%;
        width: 300px;
        color: #2C363F;
        background-color: rgba(229, 205, 200, .5);
        margin: 0 auto;
        border-radius: 10px;
        padding-bottom : 10px;

        .app-title{
            width: 300px;
            height: 50px;
            border-radius: 10px 10px 0 0;

            p{
                font-weight: bold;
                text-align: center;
                padding: 15px;
                margin: 0 auto;
                font-size: 1.2em;
                color: #293251;
            }
        }

        .notification{
            background-color: #f8d7da;
            display: none;

            p{
                color: #721c24;
                font-size: 1.3em;
                margin: 0;
                text-align: center;
                padding: 10px 0;
            }
        }
        .weather-container{
            width: 300px;
            height: 260px;
            // background-color: rgba(229, 205, 200, .5);
        }

        .weather-icon{
            width: 300px;
            height: 128px;

            img{
                display: block;
                margin: 0 auto;
            }
        }
        .temperature-value{
            width: 300px;
            height:60px;
            

            p{
                padding: 0;
                margin: 0;
                color: #293251;
                font-size: 4em;
                text-align: center;
                cursor: pointer;
            }
            span{
                color: #293251;
                font-size: 0.5em;
            }
        }
        .temperature-description{ 
            p{
            padding: 8px;
            margin: 0;
            color: #293251;
            text-align: center;
            font-size: 1.2em;
        }
    }
    .location{
        p{
        margin: 0;
        padding: 0;
        color: #293251;
        text-align: center;
        font-size: 1em;
        }
    }
    }
}



// RWD

@media(max-width:768px){
    .wrapper{
        #time{
            font-size: 6rem;
        }
    }
}