$white: #DBE4EE;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: $white;
    background-position: center;
    background-size: cover;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

    #time {
        font-size: 8rem;
    }

    h1 {
        margin-bottom: 3rem;
    }

    h2{
        margin-bottom: 0.5rem;
        // opacity: .6;
    }
    
    .weather-app-container{
        display: block;
        position: absolute;
        top: 2%;
        right: 2%;
        width: 300px;
        color: #2C363F;
        background-color: rgba(229, 205, 200, .5);
        margin: 0 auto;
        border-radius: 10px;
        padding-bottom : 10px;

        .app-title{
            width: 300px;
            height: 50px;
            border-radius: 10px 10px 0 0;

            p{
                font-weight: bold;
                text-align: center;
                padding: 15px;
                margin: 0 auto;
                font-size: 1.2em;
                color: #293251;
            }
        }

        .notification{
            background-color: #f8d7da;
            display: none;

            p{
                color: #721c24;
                font-size: 1.3em;
                margin: 0;
                text-align: center;
                padding: 10px 0;
            }
        }
        .weather-container{
            width: 300px;
            height: 260px;
            // background-color: rgba(229, 205, 200, .5);
        }

        .weather-icon{
            width: 300px;
            height: 128px;

            img{
                display: block;
                margin: 0 auto;
            }
        }
        .temperature-value{
            width: 300px;
            height:60px;

            p{
                padding: 0;
                margin: 0;
                color: #293251;
                font-size: 4em;
                text-align: center;
                cursor: pointer;
            }
            span{
                color: #293251;
                font-size: 0.5em;
            }
        }
        .temperature-description{ 
            p{
            padding: 8px;
            margin: 0;
            color: #293251;
            text-align: center;
            font-size: 1.2em;
        }
    }
    .location{
        p{
        margin: 0;
        padding: 0;
        color: #293251;
        text-align: center;
        font-size: 1em;
        }
    }
    }
    // .to-do_container{
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     padding:10px;
    //     width:380px;
    //     margin:0 auto;

    //     .head{
    //         width: 380px;
    //         height:200px;
    //         background-image: url('../img/bg2.jpg');
    //         background-size: 100% 200%;
    //         background-repeat: no-repeat;
    //         border-radius: 15px 15px 0 0;
    //         position: relative;
    //     }
    //     .clear{
    //         width : 30px;
    //         height: 30px;
    //         position: absolute;
    //         right:20px;
    //         top: 20px;

    //         i{
    //             font-size: 30px;
    //             color: #FFF;
    //         }
    //         &:hover{
    //             cursor: pointer;
    //             text-shadow: 1px 3px 5px #000;
    //             transform: rotate(45deg);
    //         }
    //     }
    //     #date{
    //         position: absolute;
    //         bottom: 10px;
    //         left: 10px;
    //         color: #FFF;
    //         font-size: 25px;
    //         font-family: 'Titillium Web', sans-serif;
    //     }
    //     .content{
    //         width:380px;
    //         height: 350px;
    //         max-height:350px;
    //         background-color: #FFF;
    //         overflow: auto;

    //         ul{
    //             padding:0;
    //             margin:0;
    //         }
    //     }
    //     .item{
    //         width:380px;
    //         height: 45px;
    //         min-height: 45px;
    //         position: relative;
    //         border-bottom: 1px solid rgba(0,0,0,0.1);
    //         list-style: none;
    //         padding: 0;
    //         margin: 0;

    //         i.co{
    //             position: absolute;
    //             font-size: 25px;
    //             padding-left:5px;
    //             left:15px;
    //             top:10px;
    //             &:hover{
    //                 cursor: pointer;
    //             }
    //         }
    //     }
    //     .fa-check-circle{
    //         color:#6eb200;
    //     }
    //     p.text{
    //     position: absolute;
    //     padding:0;
    //     margin:0;
    //     font-size: 20px;
    //     left:50px;
    //     top:5px;
    //     background-color: #FFF;
    //     max-width:285px;
    //     }
    //     .lineThrough{
    //         text-decoration: line-through;
    //         color : #ccc;
    //     }
    //     .item i.de{
    //         position: absolute;
    //         font-size: 25px;
    //         right:15px;
    //         top:10px;

    //         &:hover{
    //             color:#af0000;
    //             cursor: pointer;
    //         }
    //     }

    //     /* ------------ add item ------------ */
    //     .add-to-do{
    //     position: relative;
    //     width: 360px;
    //     height:40px;
    //     background-color: #FFF;
    //     padding: 10px;
    //     border-top: 1px solid rgba(0,0,0,0.1);
    //     i{
    //         position: absolute;
    //         font-size: 40px;
    //         color: #4162f6;
    //     }
    //     input{
    //         position: absolute;
    //         left: 50px;
    //         height: 35px;
    //         width: 310px;
    //         background-color: transparent;
    //         border: none;
    //         font-size: 20px;
    //         padding-left:10px;
    //     }
    //     }
    // }
}



// RWD

@media(max-width:768px){
    .wrapper{
        #time{
            font-size: 6rem;
        }
    }
}